Repository Slimua/Unity_ofice, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DR-Univer, @wzhudev, @Jocs, @jikkai

.github/CODEOWNERS:

# core
packages/core @DR-Univer @wzhudev

# rendering
packages/base-render @DR-Univer @wzhudev

# business cores
packages/base-docs @wzhudev @DR-Univer @Jocs
packages/base-sheets @wzhudev @DR-Univer
packages/base-slides @wzhudev @DR-Univer @jikkai

# ui
packages/design @jikkai @wzhudev
packages/base-ui @jikkai @wzhudev
packages/ui-plugin-docs @jikkai @wzhudev
packages/ui-plugin-sheets @jikkai @wzhudev
packages/ui-plugin-slides @jikkai @wzhudev

# documents
docs/graphs.tldr @wzhudev

# sheet-plugins TBD

fix(sheet): numeric cellValue issues
  packages/sheets-ui/src/controllers/editor/editing.render-controller.ts
  packages/sheets-ui/src/services/clipboard/html-to-usm/converter.ts
  packages/sheets-ui/src/services/clipboard/html-to-usm/utils.ts
  packages/sheets-ui/src/services/clipboard/type.ts
Owners: none

fix(slide): fix the issue that document cannot be displayed in slide
  packages/core/src/types/enum/border-style-types.ts
  packages/engine-render/src/components/extension.ts
  packages/facade/src/apis/sheets/f-range.ts
  packages/slides-ui/src/commands/operations/activate.operation.ts
  packages/slides-ui/src/commands/operations/set-thumb.operation.ts
  packages/slides-ui/src/views/slide-bar/SlideBar.tsx
  packages/slides/src/basics/const/plugin-name.ts
  packages/slides/src/basics/demo-data.ts
  packages/slides/src/controllers/adaptor.controller.ts
  packages/slides/src/index.ts
  packages/slides/src/model/info-bar-model.ts
  packages/slides/src/model/toolbar-model.ts
  packages/slides/src/plugin.ts
  packages/slides/src/services/canvas-view.service.ts
  packages/slides/src/services/document-adaptor.service.ts
  packages/slides/src/services/image-adaptor.service.ts
  packages/slides/src/services/object-provider.service.ts
  packages/slides/src/services/rich-text-adaptor.service.ts
  packages/slides/src/services/shape-adaptor.service.ts
  packages/slides/src/services/slide-adaptor.service.ts
  packages/slides/src/services/spreadsheet-adaptor.service.ts
  packages/slides/src/views/render/adaptor.ts
  packages/slides/src/views/render/adaptors/index.ts
  packages/slides/src/views/render/adaptors/rich-text-adaptor.ts
  packages/slides/src/views/render/index.ts
Owners: @DR-Univer, @wzhudev

feat: add shapes
  examples/src/slides/main.ts
  packages/core/src/slides/slide-model.ts
  packages/design/src/index.ts
  packages/design/src/themes/index.ts
  packages/design/src/themes/red.module.less
  packages/slides-ui/package.json
  packages/slides-ui/src/commands/commands/insert-shape.command.ts
  packages/slides-ui/src/components/shape-selector/index.module.less
  packages/slides-ui/src/components/shape-selector/index.tsx
  packages/slides-ui/src/controllers/menu.ts
  packages/slides-ui/src/controllers/slide-ui.controller.ts
  packages/slides-ui/src/index.ts
  packages/slides-ui/src/locale/en-US.ts
  packages/slides-ui/src/locale/ru-RU.ts
  packages/slides-ui/src/locale/vi-VN.ts
  packages/slides-ui/src/locale/zh-CN.ts
  packages/slides-ui/src/locale/zh-TW.ts
  packages/slides-ui/src/model/info-bar-model.ts
  packages/slides-ui/src/slides-ui-plugin.ts
  packages/slides-ui/src/views/slide-bar/SlideBar.tsx
  packages/slides/src/services/canvas-view.service.ts
  pnpm-lock.yaml
Owners: @DR-Univer, @wzhudev, @jikkai

fix(sheet): edit string Cell
  packages/sheets-ui/src/controllers/editor/editing.render-controller.ts
Owners: none

fix: optimize permission calculation logic in dv
  packages/sheets-data-validation/src/views/list/index.tsx
Owners: none

feat(formula): add cell function
  packages/engine-formula/src/basics/common.ts
  packages/engine-formula/src/functions/information/cell/__tests__/index.spec.ts
  packages/engine-formula/src/functions/information/cell/index.ts
  packages/engine-formula/src/functions/information/function-map.ts
  packages/engine-formula/src/services/current-data.service.ts
  packages/sheets-formula/src/locale/function-list/information/en-US.ts
  packages/sheets-formula/src/locale/function-list/information/ja-JP.ts
  packages/sheets-formula/src/locale/function-list/information/zh-CN.ts
  packages/sheets-formula/src/locale/function-list/information/zh-TW.ts
  packages/sheets-formula/src/services/function-list/information.ts
  packages/sheets/src/controllers/basic-worksheet.controller.ts
Owners: none

feat(formula): add error.type/type function
  packages/engine-formula/src/functions/information/error-type/__tests__/index.spec.ts
  packages/engine-formula/src/functions/information/error-type/index.ts
  packages/engine-formula/src/functions/information/function-map.ts
  packages/engine-formula/src/functions/information/type/__tests__/index.spec.ts
  packages/engine-formula/src/functions/information/type/index.ts
  packages/sheets-formula/src/locale/function-list/information/en-US.ts
  packages/sheets-formula/src/locale/function-list/information/ja-JP.ts
  packages/sheets-formula/src/locale/function-list/information/zh-CN.ts
  packages/sheets-formula/src/locale/function-list/information/zh-TW.ts
  packages/sheets-formula/src/services/function-list/information.ts
Owners: none

feat(formula): add days function
  packages/engine-formula/src/basics/date.ts
  packages/engine-formula/src/functions/date/days/__tests__/index.spec.ts
  packages/engine-formula/src/functions/date/days/index.ts
  packages/engine-formula/src/functions/date/function-map.ts
  packages/sheets-formula/src/locale/function-list/date/en-US.ts
  packages/sheets-formula/src/locale/function-list/date/ja-JP.ts
  packages/sheets-formula/src/locale/function-list/date/zh-CN.ts
  packages/sheets-formula/src/locale/function-list/date/zh-TW.ts
  packages/sheets-formula/src/services/function-list/date.ts
Owners: none

feat(formula): eomonth/isoweeknum/weeknum/yearfrac function
  packages/engine-formula/src/functions/date/eomonth/__tests__/index.spec.ts
  packages/engine-formula/src/functions/date/eomonth/index.ts
  packages/engine-formula/src/functions/date/function-map.ts
  packages/engine-formula/src/functions/date/isoweeknum/__tests__/index.spec.ts
  packages/engine-formula/src/functions/date/isoweeknum/index.ts
  packages/engine-formula/src/functions/date/weeknum/__tests__/index.spec.ts
  packages/engine-formula/src/functions/date/weeknum/index.ts
  packages/engine-formula/src/functions/date/yearfrac/__tests__/index.spec.ts
  packages/engine-formula/src/functions/date/yearfrac/index.ts
  packages/sheets-formula/src/locale/function-list/date/en-US.ts
  packages/sheets-formula/src/locale/function-list/date/ja-JP.ts
  packages/sheets-formula/src/locale/function-list/date/zh-CN.ts
  packages/sheets-formula/src/locale/function-list/date/zh-TW.ts
  packages/sheets-formula/src/services/function-list/date.ts
Owners: none

fix(formula): fix defaultRowHeight/defaultColumnWidth reference
  packages/engine-formula/src/models/formula-data.model.ts
Owners: none

feat(formula): add datedif/days360 function
  packages/engine-formula/src/basics/date.ts
  packages/engine-formula/src/functions/date/datedif/__tests__/index.spec.ts
  packages/engine-formula/src/functions/date/datedif/index.ts
  packages/engine-formula/src/functions/date/days/index.ts
  packages/engine-formula/src/functions/date/days360/__tests__/index.spec.ts
  packages/engine-formula/src/functions/date/days360/index.ts
  packages/engine-formula/src/functions/date/function-map.ts
  packages/sheets-formula/src/locale/function-list/date/en-US.ts
  packages/sheets-formula/src/locale/function-list/date/ja-JP.ts
  packages/sheets-formula/src/locale/function-list/date/zh-CN.ts
  packages/sheets-formula/src/locale/function-list/date/zh-TW.ts
  packages/sheets-formula/src/services/function-list/date.ts
Owners: none

fix(formula): fix defaultRowHeight/defaultColumnWidth reference
  packages/engine-formula/src/basics/common.ts
Owners: none

fix(formula): fix defaultRowHeight/defaultColumnWidth reference
  packages/engine-formula/src/functions/information/cell/index.ts
Owners: none

fix(formula): fix bug
  packages/engine-formula/src/functions/date/weeknum/index.ts
  packages/engine-formula/src/functions/information/cell/__tests__/index.spec.ts
  packages/engine-formula/src/functions/information/cell/index.ts
Owners: none

fix(conditional-formatting): close panel when switch subunit
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/index.tsx
Owners: none

fix: calculate cursor
  packages/core/src/types/interfaces/i-document-data.ts
  packages/engine-render/src/components/docs/text-selection/text-range.ts
  packages/engine-render/src/components/docs/text-selection/text-selection-render-manager.ts
Owners: @DR-Univer, @wzhudev

feat: doc support table
  packages/core/src/docs/data-model/types.ts
  packages/core/src/types/interfaces/i-document-data.ts
  packages/engine-render/src/components/docs/view-model/data-stream-tree-node.ts
Owners: @DR-Univer, @wzhudev

refactor: add end index
  packages/core/src/docs/data-model/text-x/apply-utils/common.ts
  packages/core/src/types/interfaces/i-document-data.ts
Owners: @DR-Univer, @wzhudev

refactor: update data model
  examples/src/data/docs/default-document-data-cn.ts
  packages/core/src/types/interfaces/i-document-data.ts
  packages/engine-render/src/components/docs/layout/doc-skeleton.ts
Owners: @DR-Univer, @wzhudev

refactor: update interface
  .vscode/settings.json
  packages/core/src/types/interfaces/i-document-data.ts
Owners: @DR-Univer, @wzhudev

feat: parse table dataStream to node tree
  examples/src/data/docs/default-document-data-cn.ts
  examples/src/data/docs/default-document.data-simple.ts
  examples/src/docs/main.ts
  packages/core/src/docs/data-model/types.ts
  packages/engine-render/src/components/docs/view-model/document-view-model.ts
Owners: @DR-Univer, @wzhudev

feat: udpate demo data
  examples/src/data/docs/default-document-data-cn.ts
  examples/src/data/docs/default-document.data-simple.ts
  packages/core/src/types/interfaces/i-document-data.ts
  packages/engine-render/src/components/docs/view-model/document-view-model.ts
Owners: @DR-Univer, @wzhudev

feat: add interceptor by range params
  packages/sheets/src/services/sheet-interceptor/sheet-interceptor.service.ts
Owners: none

feat: add condition interceptor mutation
  packages/sheets-conditional-formatting-ui/src/controllers/cf.clear.controller.ts
  packages/sheets/src/services/sheet-interceptor/sheet-interceptor.service.ts
Owners: none

feat: add before interceptor
  packages/sheets/src/commands/commands/move-range.command.ts
  packages/sheets/src/services/sheet-interceptor/sheet-interceptor.service.ts
Owners: none

chore: remove useless
  packages/sheets/src/services/sheet-interceptor/sheet-interceptor.service.ts
Owners: none

chore: change fmt cache
  packages/design/src/components/checkbox/Checkbox.tsx
  packages/sheets-numfmt/src/controllers/numfmt.cell-content.controller.ts
  packages/sheets-numfmt/src/menu/menu.ts
Owners: @jikkai, @wzhudev

chore: add design param
  packages/design/src/components/input-number/index.module.less
Owners: @jikkai, @wzhudev

chore: add dialog props
  packages/design/src/components/dialog/Dialog.tsx
Owners: @jikkai, @wzhudev

feat: udpate demo data
  packages/engine-render/src/basics/i-document-skeleton-cached.ts
  packages/engine-render/src/components/docs/layout/block/paragraph/paragraph-layout.ts
  packages/engine-render/src/components/docs/layout/block/section.ts
  packages/engine-render/src/components/docs/layout/doc-skeleton.ts
  packages/engine-render/src/components/docs/layout/model/page.ts
  packages/engine-render/src/components/docs/layout/model/table.ts
  packages/engine-render/src/components/docs/layout/tools.ts
  packages/engine-render/src/components/docs/liquid.ts
Owners: none

feat: add slides-drawing plugin
  examples/package.json
  examples/src/slides/main.ts
  packages/core/src/services/resource-manager/type.ts
  packages/core/src/slides/slide-model.ts
  packages/core/src/types/interfaces/i-slide-data.ts
  packages/slides-drawing/README.md
  packages/slides-drawing/package.json
  packages/slides-drawing/src/controllers/slide-drawing.controller.ts
  packages/slides-drawing/src/index.ts
  packages/slides-drawing/src/plugin.ts
  packages/slides-drawing/src/services/slide-drawing.service.ts
  packages/slides-drawing/src/vite-env.d.ts
  packages/slides-drawing/tsconfig.json
  packages/slides-drawing/tsconfig.node.json
  packages/slides-drawing/vite.config.ts
  pnpm-lock.yaml
Owners: @DR-Univer, @wzhudev

feat(slides): update default data
  examples/src/data/slides/default-slide-data.ts
  examples/src/slides/main.ts
  packages/core/src/types/interfaces/i-slide-data.ts
  packages/docs-drawing-ui/package.json
  pnpm-lock.yaml
Owners: @DR-Univer, @wzhudev

feat: layout table
  examples/src/data/docs/default-document.data-simple.ts
  packages/core/src/types/interfaces/i-document-data.ts
  packages/engine-render/src/basics/i-document-skeleton-cached.ts
  packages/engine-render/src/basics/interfaces.ts
  packages/engine-render/src/components/docs/layout/block/paragraph/layout-ruler.ts
  packages/engine-render/src/components/docs/layout/block/paragraph/linebreaking.ts
  packages/engine-render/src/components/docs/layout/block/paragraph/paragraph-layout.ts
  packages/engine-render/src/components/docs/layout/block/table.ts
  packages/engine-render/src/components/docs/layout/model/line.ts
  packages/engine-render/src/components/docs/layout/model/page.ts
Owners: @DR-Univer, @wzhudev

feat: render table
  examples/src/data/docs/default-document.data-simple.ts
  packages/engine-render/src/components/docs/document.ts
  packages/engine-render/src/components/docs/layout/block/table.ts
Owners: none

feat(formula): add trunc function
  packages/engine-formula/src/functions/math/function-map.ts
  packages/engine-formula/src/functions/math/trunc/__tests__/index.spec.ts
  packages/engine-formula/src/functions/math/trunc/index.ts
  packages/sheets-formula/src/locale/function-list/math/en-US.ts
  packages/sheets-formula/src/locale/function-list/math/ja-JP.ts
  packages/sheets-formula/src/locale/function-list/math/zh-CN.ts
  packages/sheets-formula/src/locale/function-list/math/zh-TW.ts
  packages/sheets-formula/src/services/function-list/math.ts
Owners: none

feat(formula): add textsplit function
  packages/engine-formula/src/functions/text/function-map.ts
  packages/engine-formula/src/functions/text/textafter/index.ts
  packages/engine-formula/src/functions/text/textbefore/index.ts
  packages/engine-formula/src/functions/text/textsplit/__test__/index.spec.ts
  packages/engine-formula/src/functions/text/textsplit/index.ts
  packages/sheets-formula/src/locale/function-list/text/en-US.ts
  packages/sheets-formula/src/locale/function-list/text/ja-JP.ts
  packages/sheets-formula/src/locale/function-list/text/zh-CN.ts
  packages/sheets-formula/src/locale/function-list/text/zh-TW.ts
  packages/sheets-formula/src/services/function-list/text.ts
Owners: none

feat(formula): add rept/textafter/textbefore function
  packages/engine-formula/src/functions/text/function-map.ts
  packages/engine-formula/src/functions/text/rept/__test__/index.spec.ts
  packages/engine-formula/src/functions/text/rept/index.ts
  packages/engine-formula/src/functions/text/textafter/__test__/index.spec.ts
  packages/engine-formula/src/functions/text/textafter/index.ts
  packages/engine-formula/src/functions/text/textbefore/__test__/index.spec.ts
  packages/engine-formula/src/functions/text/textbefore/index.ts
  packages/sheets-formula/src/locale/function-list/text/en-US.ts
  packages/sheets-formula/src/locale/function-list/text/ja-JP.ts
  packages/sheets-formula/src/locale/function-list/text/zh-CN.ts
  packages/sheets-formula/src/locale/function-list/text/zh-TW.ts
  packages/sheets-formula/src/services/function-list/text.ts
Owners: none

feat(formula): add areas/choosecols/chooserows function
  packages/engine-formula/src/functions/lookup/areas/__tests__/index.spec.ts
  packages/engine-formula/src/functions/lookup/areas/index.ts
  packages/engine-formula/src/functions/lookup/choosecols/__tests__/index.spec.ts
  packages/engine-formula/src/functions/lookup/choosecols/index.ts
  packages/engine-formula/src/functions/lookup/chooserows/__tests__/index.spec.ts
  packages/engine-formula/src/functions/lookup/chooserows/index.ts
  packages/engine-formula/src/functions/lookup/function-map.ts
  packages/sheets-formula/src/locale/function-list/lookup/en-US.ts
  packages/sheets-formula/src/locale/function-list/lookup/ja-JP.ts
  packages/sheets-formula/src/locale/function-list/lookup/zh-CN.ts
  packages/sheets-formula/src/locale/function-list/lookup/zh-TW.ts
  packages/sheets-formula/src/services/function-list/lookup.ts
Owners: none

feat(formula): add trunc function
  packages/engine-formula/src/functions/math/trunc/__tests__/index.spec.ts
Owners: none

feat(formula): add sort/sortby function
  packages/engine-formula/src/functions/lookup/function-map.ts
  packages/engine-formula/src/functions/lookup/sort/__tests__/index.spec.ts
  packages/engine-formula/src/functions/lookup/sort/index.ts
  packages/engine-formula/src/functions/lookup/sortby/__tests__/index.spec.ts
  packages/engine-formula/src/functions/lookup/sortby/index.ts
  packages/sheets-formula/src/locale/function-list/lookup/en-US.ts
  packages/sheets-formula/src/locale/function-list/lookup/ja-JP.ts
  packages/sheets-formula/src/locale/function-list/lookup/zh-CN.ts
  packages/sheets-formula/src/locale/function-list/lookup/zh-TW.ts
  packages/sheets-formula/src/services/function-list/lookup.ts
Owners: none
